/*---------- Reset ----------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, cite, code,
del, dfn, em, img, ins, samp,
small, strike, strong, sub, sup, tt, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, section, summary, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	max-width: 100%;
}

a:hover {
	cursor: pointer;
}

/*---------- Basic Elements ----------*/

h1 {
	font-size: 22px;
	text-indent: -99999px;
	background: url('../images/logo_header.png') no-repeat;
	height: 128px;
	float: left;
	width: 301px;
}

h2 {
	font: 24px 'Exo', sans-serif;
	color: #051518;
	margin-bottom: 15px;
	border-bottom: 1px solid #cccccc;
	width: 600px;
}

h3 {
	font: bold 20px 'Exo', sans-serif;
	margin-bottom: 8px;
}

p {
	margin: 8px 0;
}

strong {
	font-weight: bold;
}

/*---------- Wrapper ----------*/

#wrapper {
	width: 960px;
	margin: 0 auto;
}

/*---------- Header ----------*/

body {
	font: 62.5%/1.5 helvetica, arial, sans-serif;
	color: #051518;
}

header {
	height: 170px;
	background: #7ca2a6 url('../images/egg_shell.png');
	overflow: hidden;
}

#shark_background {
	background: url('../images/shark_background.jpg') no-repeat 120px 0;
	height: 128px;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}

#tarpon_image {
	background: url('../images/tarpon.png');
	display: block;
	height: 128px;
	width: 260px;
	margin-left: 700px;
}

/*---------- Navigation ----------*/

nav {
	height: 42px;
	line-height: 42px;
	background: #051518;
}

nav ul {
	overflow: hidden;
	font-size: 16px;
}

nav li {
	float: left;
}

nav a {
	text-decoration: none;
	color: #f3f0ea;
	font-size: 18px;
	padding: 21px 12px;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', sans-serif;
}

nav a:hover {
	background: #526663;
	color: #ebe9dc;
}

nav a:active {
	background: #3d4d4a;
}

#home header a[href="index.html"],
#about header a[href="about.html"],
#gallery header a[href="gallery.html"],
#press header a[href="press.html"],
#faq header a[href="faq.html"],
#contact header a[href="contact.html"] {
	background: #526663;
	color: #f3f0ea;
}

/*---------- Main Content ----------*/

#main_content {
	background: #f2f7f7;
	border-top: 1px solid #cccccc;
	font-size: 14px;
}

section {
	float: left;
}

section, aside {
	margin-top: 20px;
}

article {
	background: url('../images/light_alu.jpg');
	margin-bottom: 20px;
	border-radius: 12px;
	moz-border-radius: 12px;
	box-shadow: 1px 1px 2px #404040;
	-moz-box-shadow: 1px 1px 2px #404040;
	-webkit-box-shadow: 1px 1px 2px #404040;
}

/*#video_player, #more_videos {
	moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 2px #404040;
	-webkit-box-shadow: 1px 1px 2px #404040;
	box-shadow: 1px 1px 2px #404040;
}*/

#video_player {
	width: 600px;
	padding: 10px;
	margin-right: 20px;
	/*background: url('../images/light_alu.jpg');*/
}

#shark_fishing, #online_classes {
	width: 300px;
	text-align: left;
	float: left;
	margin-right: 20px;
}

#generic_page {
	padding: 0 10px;
	width: 600px;
	margin-right: 20px;
}

#generic_page img, #jorgensen img {
	float: left;
	margin: 0 15px 5px 0;
}

#contact {
	padding: 10px;
}

/*---------- Sidebar ----------*/

aside {
	float: left;
	width: 320px;
}

#more_videos, #jorgensen {
	/*background: url('../images/light_alu.jpg');*/
	padding: 10px;
	width: 300px;
}

#more_videos h2 {
	font: bold 16px 'Exo', sans-serif;
	float: left;
	width: 150px;
	margin-bottom: 0;
	border: none;
}

.youtube_logo {
	float: left;
	margin-left: 66px;
	margin-bottom: 10px;
}

#video_list {
	clear: left;
	font: bold 14px 'Exo', sans-serif;
	margin-bottom: 10px;
}

#video_list li {
	width: 287px;
	margin: 10px auto 0;
	background: #f3f3f3;
	box-shadow: 1px 1px 1px #1b2c2b;
	padding: 20px 0 5px 8px;
	position: relative;
}

#video_list a {
	position: absolute;
	top: 12px;
	left: 260px;
	height: 23px;
	width: 23px;
	background: url('../images/play_button.png') no-repeat 0 0;
	text-indent: -99999px;
}

/*----- Image Sprite -----*/

#video_list a:hover {
	background-position: -23px 0;
}

#video_list a:active {
	background-position: -46px 0;
}

#video_list .now_playing {
	background: #c6dcde;
	box-shadow: -1px -1px 1px #1b2c2b;
}

#sidebar_ad {
	width: 300px;
	margin: 0 auto;
	padding: 0 10px 10px;
}

/*---------- Home Page Lower Ads & Moon ----------*/

#lower_third {
	float: left;
	width: 728px;
	margin: 0 20px 10px 0;
}

#horizontal_ad {
	margin-top: 15px;
}

#moon {
	float: left;
	width: 188px;
	height: 198px;
	text-align: center;
	background: #000;
	padding: 2px;
	color: #cccccc;
	margin-top: 0;
}

#moon span {
	font: 25px 'PT Sans Narrow', sans-serif;
}

#moon span a {
	font-size: 10px;
	color: #a0a0a0;
	margin: 0;
}

#moon p {
	font-size: 11px;
	margin: 0 10px;
	text-align: left;
}

/*---------- Form Design ----------*/

form {
	font-size: 1.4em;
	margin-bottom: 20px;
}

label, input, textarea {
	display: block;
}

input, textarea {
	margin: 3px 0 10px;
	background: #e5e5e5;
	min-height: 25px;
	color: #4d4d4d;
	border: none;
}

textarea {
	width: 590px;
	padding: 5px;
	height: 70px;
}

input[type="text"] {
	width: 283px;
	height: 20px;
	padding-left: 5px;
}

#first_name {
	margin-right: 20px;
}

#first_name, #last_name {
	float: left;
}

#first_name label, #last_name label {
	margin-top: 5px;
}

label, legend {
	font: 14px helvetica, arial, sans-serif;
}

label span {
	font-size: 12px;
	margin-left: 5px;
	color: #727373;
}

label[for="words"], label[for="email"] {
	margin-bottom: 5px;
}

fieldset[id="subject"], fieldset[id="subject"] div {
	clear: left;
}

.professional {
	margin-top: 5px;
}

input[type="checkbox"] {
	margin-right: 10px;
	float: left;
	margin-top: -4px;
}

#subject label {
	font-size: 0.7em;
	color: #333;
	height: 20px;
	line-height: 20px;
}

#name label, #user_email label {
	float: left;
	width: 70px;
}

#name input {
	width: 175px;
	float: left;
	margin-right: 10px;
	margin-bottom: 0;
}

#user_email {
	margin-bottom: 20px;
}

#user_email label {
	clear: left;
}

#user_email input {
	clear: left;
	width: 283px;
}

label[for="feedback"] {
	margin-top: 15px;
}

div > label {
	margin-top: 10px;
}

/*----- CTA Button -----*/

.controls {
	margin-top: 15px;
}

input[type="submit"] {
	width: 100px;
	padding: 5px 20px;
	font-weight: bold;
	font-size: 16px;
	background: #537073;
	color: #f5f9fa;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;
	margin-bottom: 0;
}

input[type="submit"]:hover {
	background: #81aeb3;
	cursor: pointer;
}

/*---------- Footer ----------*/

footer {
	clear: left;
	background: #091f24;
	color: #cccccc;
	text-align: center;
	padding: 15px 0 2px 0;
	border-top: 1px solid #cccccc;
}

/*----- Navigation -----*/

#lower_nav ul {
	overflow: hidden;
	width: 480px;
	font-size: 12px;
	float: left;
}

#lower_nav li {
	float: left;
	padding-right: 10px;
	margin-left: 10px;
	border-right: 1px solid #cccccc;
}

#lower_nav li:last-child {
	border: none;
}

#lower_nav a {
	text-decoration: none;
	text-transform: uppercase;
	color: #cccccc;
}

#lower_nav a:hover {
	text-decoration: underline;
}

/*----- Translate -----*/

#translator {
	float: left;
	width: 170px;
	margin-left: 310px;
}

.copyright {
	clear: left;
	margin-top: 15px;
}
